<%- include('partials/header') %>
<div class="container">
  <div class="row">
    <div class="col-12 col-lg-6 m-auto">
      <h1>Log In</h1>
      <form action="/login" method="POST">
        <div class="form-group">
          <label for="username">Username:</label>
          <input
            type="text"
            name="username"
            id=""
            placeholder="Username"
            required
            class="form-control"
          />
        </div>
        <div class="form-group">
          <label for="password">Password:</label>
          <input
            type="password"
            name="password"
            id=""
            placeholder="Password"
            required
            class="form-control"
          />
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary">Log In</button>
        </div>
      </form>
      <p>
        <b>Not yet Registered? Click here to <a href="/signup">Register</a></b>
      </p>
    </div>
  </div>
</div>

<%- include('partials/footer') %>
